@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 500;
}

p {
  line-height: 1.6em;
}

a {
  color: #217ffc;
  text-decoration: none;
  border-bottom: 1px solid #217ffc;
}

.subtitle {
  max-width: 75ch;
  margin-bottom: 2rem;
}

.container {
  padding: 3rem;
  max-width: 100%;
}

.chart__left {
  width: 60%;
}

.chart__right {
  width: 40%;
}

.chart__heading-wrapper,
.chart__flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 500;
}

.chart__total-wrapper {
  text-align: right;
}

.chart__total-wrapper p {
  margin-left: 1rem;
}

.green {
  color: green;
}

.yellow {
  color: red;
}

@media only screen and (max-width: 1200px) {
  .chart__heading-wrapper,
  .chart__flex-container {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .chart__total-wrapper {
    text-align: left;
  }

  .chart__total-wrapper p {
    margin-left: 0rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}
